@define-color selected_bg_color {color1};
@define-color selected_fg_color {foreground};
@define-color fg_color {foreground};
@define-color bg_color {background};
@define-color headerbar_bg_color {color0};
