@import '../../.cache/wal/colors-waybar.css';

@define-color primary @color4;
@define-color secondary @color2;
@define-color fg @foreground;
@define-color bg alpha(@background, 0.82);
@define-color inactive alpha(@color8, 0.72);

window#waybar {
  border-bottom: 0px solid @fg;
  background: transparent;
  color: @fg;
  border: none;
  border-radius: 80px;
  min-height: 0px;
  font-family: 'JetBrainsMono Nerd Font';
  font-size: 14px;
}

#workspaces {
  background: @background;
  margin: 10px 0px 0px 0px;
  padding: 8px 5px;
  border-radius: 100px;
  border: solid 0px @foreground;
  font-weight: normal;
  font-style: normal;
}

#workspaces button {
  padding: 0px 5px;
  margin: 0px 3px;
  border-radius: 100px;
  color: transparent;
  background-color: @inactive;
  transition: all 0.3s ease-in-out;
}

#workspaces button.active {
  background-color: @secondary;
  color: transparent;
  border-radius: 100px;
  min-width: 50px;
  background-size: 400% 400%;
  transition: all 0.3s ease-in-out;
}

#workspaces button:hover {
  background-color: @secondary;
  color: transparent;
  border-radius: 100px;
  min-width: 50px;
  background-size: 400% 400%;
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

/* 1. El contenedor "Cápsula" (Corregido a #music) */
#music {
  background-color: @bg;
  border: 0px solid;
  border-radius: 100px;
  padding: 0px 10px;
  margin: 10px 0px 0px 0px;
  font-size: 14;
}

/* 2. Los elementos internos (Fondo transparente para que se vea la cápsula) */
#custom-media-prev,
#custom-media-next,
#mpris {
  background-color: transparent;
  color: @fg;
  padding: 0px 10px;
  margin: 0;
  font-size: 14;
}


#custom-media-prev:hover,
#custom-media-next:hover {
  color: @secondary;
  border-radius: 10px;
  font-size: 14;
}


#custom-update {
  min-width: 12px;
  margin: 0 7.5px;
}


tooltip {
  padding: 2px;
}

#custom-update {
  background-color: @bg;
  padding: 5px 15px;
  margin: 10px 0px 0px 0px;
  border-radius: 100px;
  font-size: 14;
}


#clock {
  background-color: @bg;
  color: @fg;
  padding: 5px 15px;
  margin: 10px 0px 0px 0px;
  border-radius: 100px;
  font-size: 14px;
  transition: all 0.3s ease-in-out;
}

#clock:hover {
  color: @fg;
}

tooltip {
  background: @bg;
  border: 1px solid @secondary;
  border-radius: 15px;
  padding: 15px;
  color: @fg;
}

tooltip:hover {
  opacity: 1;
}

tooltip label {
  color: @fg;
}


#custom-notification,
#custom-power {
  background-color: @bg;
  color: @fg;

  /* Padding igualado para mantener la altura del reloj (24px total aprox) */
  padding: 5px 15px;
  /* 5px arriba/abajo, 10px lados para centrar visualmente */

  margin: 10px 5px 0px 0px;
  border-radius: 100px;
  /* 100px o 50% funcionan igual aquí */

  font-family: "JetBrainsMono Nerd Font";
  font-size: 14px;

  transition: all 0.3s ease-in-out;
}

#custom-power:hover {
  background-color: @color1;
  color: @fg;
}


.hidden {
  opacity: 0;
}

#pulseaudio#mic,
#pulseaudio {
  background-color: @bg;
  padding: 5px 15px;
  margin: 10px 0px 0px 0px;
  border-radius: 100px;
  font-size: 14;
}